# -----------------------------
# Misc frameworks (optional)
# -----------------------------
.serverless/
.firebase/
.docusaurus/
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
